<div class="bt">
<strong>{{ actividad.tipo }} </strong>
{% if actividad.anfitrion %}
    <br>{{ actividad.anfitrion }}
{% endif %}
{%  if actividad.nombreEvento %}
    {% if actividad.tipo starts with 'Coloquio' %}
        <strong>{{ actividad.nombreEvento }}</strong><br>
    {% else %}
         <strong>{{ actividad.nombreEvento }}</strong><br>
    {% endif %}
{% else %}
    <br>
{% endif %}
{% if actividad.tituloTrabajo %}
    {% if actividad.tipo == "Investigación" %}
        Tema: <em>{{ actividad.tituloTrabajo }}</em><br>
    {% else %}
        Plática: <em>{{ actividad.tituloTrabajo }}</em><br>
    {% endif %}
{% endif %}
{{ actividad.institucion }}, {{ actividad.departamento }}<br>
{{ actividad.lugar }}
{% if actividad.sinodalAlumno %}
    <br>Estudiante  {{ actividad.sinodalGrado }}: {{ actividad.sinodalAlumno }}<br>
{% endif %}
</div>
