<div class="form-group">
    {{ form_start(edit_form, {'action': path('sesion_edit', { 'slug': sesion.slug})}) }}
    <div class="row">
        {% if edit_form.name is defined %}
            <div class="form-group col-md-6">
                {{ form_label(edit_form.name) }}
                {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(edit_form.name) }}</div>
            </div>
        {% endif %}
        {% if edit_form.fecha is defined %}
            <div class="form-group col-md-6">
                <div>
                    {{ form_label(edit_form.fecha) }}
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    {{ form_widget(edit_form.fecha, {'attr': {'class': 'form-control js-datepicker'}}) }}
                </div>
                <div>{{ form_errors(edit_form.fecha) }}</div>
            </div>
        {% endif %}
    </div>
    <input type="submit" value="Guardar" class="btn btn-primary my-4"/>
    {{ form_end(edit_form) }}
</div>

