{# src/AppBundle/Resources/views/layout-pdf.html.twig #}
<meta charset="UTF-8" />

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

{% endblock %}

    {# Layout for PDF files #}

<div class="print-area container-fluid">

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="text-left"><img class="left" src="{{ asset('img/escudo_UNAM.jpg', absolute=true) }}" width="85px" height="100px" /></p>
            </div>
            <div class="col">
                <p class="text-right"><img class="right" src="{{ asset('img/ccm.png', absolute=true) }}" width="240px" height="80px" /></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-right"><img class="right" src="{{ asset('img/linea.png', absolute=true) }}" /></p>
            </div>
        </div>

        <p class="text-right titulo">SESIÓN DEL CONSEJO INTERNO</p>
        <p class="subtitulo text-center"> Recomendaciones para el {{ sesion.name }} <br> {{ sesion.fecha|localizeddate('none', 'none', 'es_MX', null, "d 'de' MMMM 'del' Y") }}</p>

        <p><strong><h5>Orden del día</h5></strong></p>
        <hr>
        <p>{{ sesion.orden|raw}}</p>

        <br>
        <p><strong><h5>Licencias</h5></strong></p>
        <hr>
    </div>

    {% set i = 1 %}

    {% for solicitud in licencias %}

        {% if solicitud.getDias == 1 %}
            {% set inicio = solicitud.fechaInicio|localizeddate('long', 'none') %}
            {% set detalleDias = 'día: ' ~ inicio ~ '.' %}
        {% else %}
            {% if solicitud.fechaInicio|date('Y') == solicitud.fechaFin|date('Y') %}
                {% set inicio = solicitud.fechaInicio|localizeddate('none', 'none', 'es_MX', null, "d 'de' MMMM") %}
                {% set fin = solicitud.fechafin|localizeddate('long', 'none') %}
                {% set detalleDias = 'días. Del ' ~ inicio ~ ' al ' ~ fin ~ '.' %}
            {% else %}
                {% set inicio = solicitud.fechaInicio|localizeddate('long', 'none') %}
                {% set fin = solicitud.fechafin|localizeddate('long', 'none') %}
                {% set detalleDias = 'días. Del ' ~ inicio ~ ' al ' ~ fin ~ '.' %}
            {% endif %}
        {% endif %}

        <p>L{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong>. Con duración de {{ solicitud.getDias }} {{ detalleDias }}</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                <li class="text-justify" >{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        {% include 'sesion/detalleFinanciamiento.html.twig' with {'solicitud': solicitud } %}
        <p class="text-justify">{{ solicitud.descripcion }}</p>
        {% include 'sesion/detalleSolicitud.html.twig' with {'solicitud': solicitud } %}

        {% set i = i + 1 %}

    {% endfor %}

    {# Comisiones #}
    <br>
    <p><strong><h5>Comisiones</h5></strong></p>
    <hr>
    {% set i = 1 %}

    {% for solicitud in comisiones %}

        {% if solicitud.getDias == 1 %}
            {% set inicio = solicitud.fechaInicio|localizeddate('long', 'none') %}
            {% set detalleDias = 'día: ' ~ inicio ~ '.' %}
        {% else %}
            {% if solicitud.fechaInicio|date('Y') == solicitud.fechaFin|date('Y') %}
                {% set inicio = solicitud.fechaInicio|localizeddate('none', 'none', 'es_MX', null, "d 'de' MMMM") %}
                {% set fin = solicitud.fechafin|localizeddate('long', 'none') %}
                {% set detalleDias = 'días. Del ' ~ inicio ~ ' al ' ~ fin ~ '.' %}
            {% else %}
                {% set inicio = solicitud.fechaInicio|localizeddate('long', 'none') %}
                {% set fin = solicitud.fechafin|localizeddate('long', 'none') %}
                {% set detalleDias = 'días. Del ' ~ inicio ~ ' al ' ~ fin ~ '.' %}
            {% endif %}
        {% endif %}

        <p>C{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong>. {{ solicitud.getDias }} {{ detalleDias }}</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                <li class="text-justify">{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>

        {% include 'sesion/detalleFinanciamiento.html.twig' with {'solicitud': solicitud } %}
        <p class="text-justify">{{ solicitud.descripcion }}</p>
        {% include 'sesion/detalleSolicitud.html.twig' with {'solicitud': solicitud } %}

        {% set i = i + 1 %}

    {% endfor %}

    {# Visitantes#}
    <br>
    <p><strong><h5>Visitantes</h5></strong></p>
    <hr>

    {% set i = 1 %}

    {% for solicitud in visitantes %}

        <p class="text-justify">V{{ i }}.
            {% include 'sesion/actividadVisitante.html.twig' with {'actividades': solicitud.actividades } %}
        </p>
        {% include 'sesion/detalleFinanciamiento.html.twig' with {'solicitud': solicitud } %}

        <p class="text-justify">{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}.<br>
        {% if solicitud.erogadoAsignacion %}
            {% if solicitud.getTotalAsignacion > 0 %}
                <strong>Observaciones: </strong><br>
                {#{% if solicitud.academico.genero == 'M' %}El {% else %}La {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} habrá erogado ${{ solicitud.totalErogado|number_format(2) }} de su asignación anual en el {{ solicitud.fechaInicio |date('Y') }}.#}
                Incluyendo las erogaciones que {% if solicitud.academico.genero == 'M' %} el {% else %} la {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} está solicitando, habrá erogado <strong>${{ solicitud.totalErogado|number_format(2) }}</strong> de su asignación anual en el {{ solicitud.fechaInicio |date('Y') }}.<br>
            {% endif %}
        {% endif %}
        <strong>Dictamen</strong>: {% if solicitud.dictamen %}Aprobada {% elseif solicitud.dictamen is null %}{% else %}No aprobada{% endif %}
        <br><br>

        {% set i = i + 1 %}
    {% endfor %}

    {% if sesion.estudiantes %}
        <p class="text-justify"><strong><h5>Estudiantes</h5></strong></p>
        <hr>
        <p>{{ sesion.estudiantes|raw}}</p>
    {% endif %}

    {% if sesion.varios %}
        <p class="text-justify"><strong><h5>Varios</h5></strong></p>
        <hr>
        <p class="text-justify">{{ sesion.varios|raw}}</p>
    {% endif %}
</div>


