
    <p class="text-secondary">Sesión de Consejo Interno - {{ sesion.fecha|localizeddate('none', 'none', 'es_MX', null, "cccc, d MMMM Y") }}</p>
    <h4 class="mb-5">{{ sesion.solicitudes| length }} solicitudes.</h4>

    <h3>Acta de recomendaciones</h3>

    <p><strong>Licencias</strong></p>
    {% set i = 1 %}

    {% for solicitud in sesion.solicitudes %}

        <p>L{{ i }}. <strong>Dr. {{ solicitud.academico.apellido }} {{ solicitud.academico.nombre }}</strong>. Del  {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>
        <ul>
            {% for actividad in solicitud.actividades %}
            {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
            <li>{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        <div class="card">
            <ul class="list-group list-group-flush">

                {#{% for actividad in solicitud.actividades %}#}
                    {#{% set actividadmodalshow = 'actividadshowModal'~ actividad.id  %}#}
                    {#<li class="list-group-item">#}
                        {#<div>#}
                            {#<i class="fa fa-list-alt fa-x" aria-hidden="true"></i> {{ actividad.tipo }}#}
                        {#</div>#}
                        {#<span class="label label-default">{{ actividad.institucion }}</span>#}
                        {#<span class="label label-default">{{ actividad.departamento }}</span>#}
                        {#<span class="label label-default">{{ actividad.lugar }}</span>#}
                    {#</li>#}
                    {##}
                    {#<!-- Modal -->#}
                    {#<div class="modal fade" id="{{ actividadmodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ actividadmodalshow }}Label">#}
                        {#<div class="modal-dialog modal-lg" role="document">#}
                            {#<div class="modal-content">#}
                                {#<div class="modal-header">#}
                                    {#<h4 class="modal-title" id="{{ actividadmodalshow }}Label">{{ actividad.tipo}}</h4>#}
                                    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aia-hidden="true">&times;</span></button>#}
                                {#</div>#}
                                {#<div class="modal-body">#}
                                    {#{% render controller("SiaBundle:Actividad:show", {'id': actividad.id}) %}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#{% endfor %}#}
            </ul>
        </div>


        {#L1. Dr. Daniel Pellicer Covarrubias. Para realizar un viaje con objeto de efectuar dos visitas de carácter académico.#}
        {#La primera al College of Science and Mathematics de la University of Massachusetts Boston y realizar investigación conjunta con el Dr. Gabriel K. Cunningham.#}
        {#La segunda para visitar la Northeastern University y asistir a la sesión especial Polytopes and Discrete Geometry del AMS Sectional Meeting.#}
        {#Viaje a la ciudad de Boston, MA, Estados Unidos, con duración de 9 días, el 15 al 23 de abril de 2018.#}
        {#El Dr. Pellicer planea financiar su viaje con los recursos que se especifican en la siguiente tabla:#}

{#Observación: Incluyendo los días que el Dr. Pellicer está solicitando en estas recomendaciones,#}
        {#él habrá utilizado 9 días de su disponibilidad de 45 días de licencia, se habrá ausentando del CCM un total de 9 días durante el 2018#}
        {#y habrá erogado $1,800.00 de su asignación anual.#}

{#Dictamen:#}

    {% set i = i + 1 %}

    {% endfor %}

