{# src/AppBundle/Resources/views/layout-pdf.html.twig #}
<meta charset="UTF-8" />

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

{% endblock %}

    {# Layout for PDF files #}

<div class="print-area">

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-left"><img class="left" src="{{ asset('img/escudo_UNAM.jpg', absolute=true) }}" width="85px" height="100px" /></p>
            </div>
            <div class="col">
                <p class="text-right"><img class="right" src="{{ asset('img/ccm.png', absolute=true) }}" width="240px" height="80px" /></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-right"><img class="right" src="{{ asset('img/linea.png', absolute=true) }}" /></p>
            </div>
        </div>

        <p class="text-right titulo">SESIÓN DEL CONSEJO INTERNO</p>
        <p class="subtitulo text-center"> Recomendaciones para el {{ sesion.name }} <br> {{ sesion.fecha|localizeddate('none', 'none', 'es_MX', null, "d 'de' MMMM 'del' Y") }}</p>
        <p><strong>Orden del día</strong></p>
        <p>{{ sesion.orden|raw}}</p>
        <p><strong>Licencias:</strong></p>
    </div>

    {% set i = 1 %}

    {% for solicitud in licencias %}

        <br>
        <p >L{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong>. Con duración de {{ solicitud.getDias }} {% if solicitud.getDias == 1 %}día{% else %}días{% endif %}. Del  {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                <li >{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        {# Financiamiento #}
        {# Hay financiamiento ?#}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row avoid">
                <div class="col-md-8">
                <table class="table table-striped table-bordered table-sm" >
                    <thead>
                    <tr>
                        <th class="text-center">Fuente</th>
                        <th class="text-center">CCM</th>
                        <th class="text-center">PAPIIT</th>
                        <th class="text-center">Conacyt</th>
                        <th class="text-center">Otro</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set ccm = 0 %}
                    {% set papiit = 0 %}
                    {% set conacyt = 0 %}
                    {% set otro = 0 %}

                    {% for fin in solicitud.financiamiento %}
                        {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                            <tr>
                                <td>{{ fin.nombre }}</td>
                                <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                <td class="text-right">{{ fin.otro  }}</td>
                            </tr>
                            {% set ccm = fin.ccm + ccm %}
                            {% set papiit = fin.papiit + papiit %}
                            {% set conacyt = fin.conacyt + conacyt %}
                            {% set otro = fin.otro + otro %}
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><i class="fa fa-usd"></i> Total</td>
                        <td class="text-right"><strong>${{ ccm|number_format(2) }}</strong></td>
                        <td class="text-right"><strong>${{ papiit|number_format(2)  }}</strong></td>
                        <td class="text-right"><strong>${{ conacyt|number_format(2)  }}</strong></td>
                        <td class="text-right"><strong></strong></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        {% endif %}
        <p>{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}<br>
        {% set yearSolicitud = solicitud.fechaInicio |date('Y')  %}
        {% set totalErogado =  solicitud.academico.erogadoLicencias(yearSolicitud) %}
        <p>Incluyendo los días que {% if solicitud.academico.genero == 'M' %} el {% else %} la {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} está solicitando en estas recomendaciones,
            habrá utilizado {{ solicitud.totalDiasLicencia }} días de su disponibilidad de 45 días de licencia, se habrá ausentando del CCM un total de {{ solicitud.totalDiasAusente }} días durante el {{ solicitud.fechaInicio |date('Y') }}{% if solicitud.getTotalAsignacion > 0 %} y habrá erogado ${{ totalErogado|number_format(2) }} de su asignación anual{% endif %}.
        </p>

        {% set i = i + 1 %}

    {% endfor %}

    {# Comisiones #}
    <p><strong>Comisiones:</strong></p>
    {% set i = 1 %}

    {% for solicitud in comisiones %}

        <br>
        <p >C{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.apellido }} {{ solicitud.academico.nombre }}</strong>. {{ solicitud.getDias }} {% if solicitud.getDias == 1 %}día{% else %}días{% endif %}. Del  {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                <li >{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        {# Financiamiento #}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row avoid">
                <div class="col-md-8">
                    <table class="table table-striped table-bordered table-sm" >
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ccm = 0 %}
                        {% set papiit = 0 %}
                        {% set conacyt = 0 %}
                        {% set otro = 0 %}

                        {% for fin in solicitud.financiamiento %}
                            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                                <tr>
                                    <td>{{ fin.nombre }}</td>
                                    <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                    <td class="text-right">{{ fin.otro  }}</td>
                                </tr>
                                {% set ccm = fin.ccm + ccm %}
                                {% set papiit = fin.papiit + papiit %}
                                {% set conacyt = fin.conacyt + conacyt %}
                                {% set otro = fin.otro + otro %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><i class="fa fa-usd"></i> Total</td>
                            <td class="text-right"><strong>${{ ccm|number_format(2) }}</strong></td>
                            <td class="text-right"><strong>${{ papiit|number_format(2)  }}</strong></td>
                            <td class="text-right"><strong>${{ conacyt|number_format(2)  }}</strong></td>
                            <td class="text-right"><strong></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
        <p>{{ solicitud.descripcion }}</p>
        {% set yearSolicitud = solicitud.fechaInicio |date('Y')  %}
        {% set totalErogado =  solicitud.academico.erogadoLicencias(yearSolicitud) %}
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}<br>
        <p>Incluyendo los días que {% if solicitud.academico.genero == 'M' %} el {% else %} la {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} está solicitando en estas recomendaciones,
            él habrá utilizado {{ solicitud.totalDiasLicencia }} días de su disponibilidad de 45 días de licencia, se habrá ausentando del
            CCM un total de {{ solicitud.totalDiasAusente }} días durante el {{ solicitud.fechaInicio |date('Y') }}{% if solicitud.getTotalAsignacion > 0 %} y habrá erogado ${{ totalErogado|number_format(2) }} de su asignación anual{% endif %}.
        </p>

        {% set i = i + 1 %}

    {% endfor %}

    {# Visitantes#}
    <p><strong>Visitantes:</strong></p>

    {% set i = 1 %}

    {% for solicitud in visitantes %}

        {#<p>V{{ i }}. <strong>{{ solicitud.anfitrion }}</strong> de solicitud Del {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>#}
        <p>V{{ i }}.
        {% for actividad in solicitud.actividades %}
            {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
            {% include 'sesion/actividadVisitante.html.twig' with {'actividad': actividad } %}</li>
        {% endfor %}</p>
        {# Financiamiento #}
        {# Hay financiamiento ?#}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row avoid">
                <div class="col-md-8">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ccm = 0 %}
                        {% set papiit = 0 %}
                        {% set conacyt = 0 %}
                        {% set otro = 0 %}

                        {% for fin in solicitud.financiamiento %}
                            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                                <tr>
                                    <td>{{ fin.nombre }}</td>
                                    <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                    <td class="text-right">{{ fin.otro  }}</td>
                                </tr>
                                {% set ccm = fin.ccm + ccm %}
                                {% set papiit = fin.papiit + papiit %}
                                {% set conacyt = fin.conacyt + conacyt %}
                                {% set otro = fin.otro + otro %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><i class="fa fa-usd"></i> Total</td>
                            <td class="text-right"><strong>${{ ccm|number_format(2) }}</strong></td>
                            <td class="text-right"><strong>${{ papiit|number_format(2)  }}</strong></td>
                            <td class="text-right"><strong>${{ conacyt|number_format(2)  }}</strong></td>
                            <td class="text-right"><strong></strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <p>{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}<br><br>
        {% set i = i + 1 %}
    {% endfor %}

    {% if sesion.estudiantes %}
        <p><strong>Estudiantes</strong></p>
        <p>{{ sesion.estudiantes|raw}}</p>
    {% endif %}

    {% if sesion.varios %}
        <p><strong>Varios</strong></p>
        <p>{{ sesion.varios|raw}}</p>
    {% endif %}

</div>


