{% extends 'base.html.twig' %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">
            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('sesion_index') }}">
            <span data-feather="file"></span>
            Sesiones
        </a>
    </li>
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white boder-bottom">
            <li  class="breadcrumb-item"><a href="{{ path('sesion_show',{'slug':sesion.slug}) }}">Sesión {{ sesion.name }}</a></li>
            <li class=" breadcrumb-item active" aria-current="page">Recomendaciones {{ sesion.name }}
                ({{ sesion.fecha|localizeddate('none', 'none', 'es_MX', null, "cccc, d MMMM 'del' Y") }})

            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-6">
            <a class="nav-link" href="{{ path('sesion_recomendaciones', { 'slug': sesion.slug }) }}">
                <span data-feather="file"></span>
                <strong>Ver las recomendaciones en línea {{ sesion.name }}</strong>
            </a>
        </div>
        <div class="col-md-6">
            <a class="nav-link" href="{{ path('sesion_recomendaciones_pdf',{'slug':sesion.slug}) }}"><strong><i class="fa fa-file"></i> Generar archivo PDF</strong></a>
        </div>
    </div>

    {% set ordenmodaledit = 'ordeneditModal'~ sesion.id  %}

    <br>
    <h5 class="border-bottom pb-2"><strong>Orden del día</strong>  <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#{{ ordenmodaledit }}">
            <i class="fa fa-edit"></i>
        </button></h5>

    <div>
        {{ sesion.orden|raw }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ ordenmodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ ordenmodaledit }}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ ordenmodaledit }}Label"> {{ sesion.name }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% render controller("SiaBundle:Sesion:orden", {'slug': sesion.slug}) %}
                </div>
            </div>
        </div>
    </div>
    <br>

    <p><strong>Licencias</strong></p>
    {% set i = 1 %}

    {% for solicitud in licencias %}

        <p>L{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong>. {{ solicitud.getDias }} {% if solicitud.getDias == 1 %}día{% else %}días{% endif %}. Del  {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                <li>{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        {# Financiamiento #}
        {# Hay financiamiento ?#}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ccm = 0 %}
                        {% set papiit = 0 %}
                        {% set conacyt = 0 %}
                        {% set otro = 0 %}

                        {% for fin in solicitud.financiamiento %}
                            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                                <tr>
                                    <td>{{ fin.nombre }}</td>
                                    <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                    <td class="text-right">{{ fin.otro  }}</td>
                                </tr>
                                {% set ccm = fin.ccm + ccm %}
                                {% set papiit = fin.papiit + papiit %}
                                {% set conacyt = fin.conacyt + conacyt %}
                                {% set otro = fin.otro + otro %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><h6><i class="fa fa-usd"></i> Total</td>
                            <td class="text-right"><h6><strong>${{ ccm|number_format(2) }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ papiit|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ conacyt|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong></strong></h6></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <p>{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}.<br>
        {% set yearSolicitud = solicitud.fechaInicio |date('Y')  %}
        {% set totalErogado =  solicitud.academico.erogadoLicencias(yearSolicitud) %}
        <p>Incluyendo los días que {% if solicitud.academico.genero == 'M' %} el {% else %} la {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} está solicitando en estas recomendaciones,
habrá utilizado {{ solicitud.totalDiasLicencia }} días de su disponibilidad de 45 días de licencia, se habrá ausentando del
CCM un total de {{ solicitud.totalDiasAusente }} días durante el {{ solicitud.fechaInicio |date('Y') }}{% if solicitud.getTotalAsignacion > 0 %} y habrá erogado ${{ totalErogado|number_format(2) }} de su asignación anual{% endif %}.
</p><br>

        {% set i = i + 1 %}
    {% endfor %}

    <p><strong>Comisiones</strong></p>
    {% set i = 1 %}

    {% for solicitud in comisiones %}

        <p>C{{ i }}. <strong>{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong>. {{ solicitud.getDias }} {% if solicitud.getDias == 1 %}día{% else %}días{% endif %}. Del {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>
        <ul>
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                <li>{% include 'sesion/actividad.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        </ul>
        {# Financiamiento #}
        {# Hay financiamiento ?#}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ccm = 0 %}
                        {% set papiit = 0 %}
                        {% set conacyt = 0 %}
                        {% set otro = 0 %}

                        {% for fin in solicitud.financiamiento %}
                            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                                <tr>
                                    <td>{{ fin.nombre }}</td>
                                    <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                    <td class="text-right">{{ fin.otro  }}</td>
                                </tr>
                                {% set ccm = fin.ccm + ccm %}
                                {% set papiit = fin.papiit + papiit %}
                                {% set conacyt = fin.conacyt + conacyt %}
                                {% set otro = fin.otro + otro %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><h6><i class="fa fa-usd"></i> Total</td>
                            <td class="text-right"><h6><strong>${{ ccm|number_format(2) }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ papiit|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ conacyt|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong></strong></h6></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <p>{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}.<br>
        {% set yearSolicitud = solicitud.fechaInicio |date('Y')  %}
        {% set totalErogado =  solicitud.academico.erogadoLicencias(yearSolicitud) %}
        <p>Incluyendo los días que {% if solicitud.academico.genero == 'M' %} el {% else %} la {% endif %}{{ solicitud.academico.titulo }} {{ solicitud.academico.nombre|title }} {{ solicitud.academico.apellido|title }} está solicitando en estas recomendaciones,
            habrá utilizado {{ solicitud.totalDiasLicencia }} días de su disponibilidad de 45 días de licencia, se habrá ausentando del
            CCM un total de {{ solicitud.totalDiasAusente }} días durante el 2018{% if solicitud.getTotalAsignacion > 0 %} y habrá erogado ${{ totalErogado|number_format(2) }} de su asignación anual{% endif %}.
        </p>

        {% set i = i + 1 %}
    {% endfor %}

    <p><strong>Visitantes</strong></p>
    {% set i = 1 %}

    {% for solicitud in visitantes %}

        {#<p>V{{ i }}. <strong>{{ solicitud.anfitrion }}</strong> de solicitud Del {{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin |localizeddate('long', 'none') }}.</p>#}
        <p>V{{ i }}.
            {% for actividad in solicitud.actividades %}
                {#<li>{{ render(controller('AppBundle\\Controller\\ActividadController::recomendacion', { 'id': {{ actividad.id }} })) }}</li>#}
                {% include 'sesion/actividadVisitante.html.twig' with {'actividad': actividad } %}</li>
            {% endfor %}
        {# Financiamiento #}
        {# Hay financiamiento ?#}
        {% set solicitaFinanciamiento = 0 %}

        {% for fin in solicitud.financiamiento %}
            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                {% set solicitaFinanciamiento = 1 %}
            {% endif %}
        {% endfor %}

        {% if solicitaFinanciamiento %}
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            <th class="text-center">Fuente</th>
                            <th class="text-center">CCM</th>
                            <th class="text-center">PAPIIT</th>
                            <th class="text-center">Conacyt</th>
                            <th class="text-center">Otro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set ccm = 0 %}
                        {% set papiit = 0 %}
                        {% set conacyt = 0 %}
                        {% set otro = 0 %}

                        {% for fin in solicitud.financiamiento %}
                            {% if fin.ccm or fin.papiit or fin.conacyt or fin.otro %}
                                <tr>
                                    <td>{{ fin.nombre }}</td>
                                    <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                                    <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                                    <td class="text-right">{{ fin.otro  }}</td>
                                </tr>
                                {% set ccm = fin.ccm + ccm %}
                                {% set papiit = fin.papiit + papiit %}
                                {% set conacyt = fin.conacyt + conacyt %}
                                {% set otro = fin.otro + otro %}
                            {% endif %}
                        {% endfor %}
                        <tr>
                            <td><h6><i class="fa fa-usd"></i> Total</td>
                            <td class="text-right"><h6><strong>${{ ccm|number_format(2) }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ papiit|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong>${{ conacyt|number_format(2)  }}</strong></h6></td>
                            <td class="text-right"><h6><strong></strong></h6></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        <p>{{ solicitud.descripcion }}</p>
        <strong>Erogación del CCM:</strong>{% if solicitud.getTotalAsignacion == 0 %} Ninguna{% else %} ${{ solicitud.getTotalAsignacion|number_format(2) }}{% endif %}.<br>
        {% set i = i + 1 %}
    {% endfor %}

    {% set alumnosmodaledit = 'alumnoseditModal'~ sesion.id  %}

    <h3 class="border-top pt-2"><strong>Estudiantes</strong>
        <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#{{ alumnosmodaledit }}">
            <i class="fa fa-edit"></i>
        </button>
    </h3>

    <div>
        {{ sesion.estudiantes|raw }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ alumnosmodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ alumnosmodaledit }}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ alumnosmodaledit }}Label"> {{ sesion.name }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% render controller("SiaBundle:Sesion:estudiantes", {'slug': sesion.slug}) %}
                </div>
            </div>
        </div>
    </div>

    {% set variosmodaledit = 'varioseditModal'~ sesion.id  %}

    <h3 class="border-top pt-2"><strong>Varios</strong>
        <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#{{ variosmodaledit }}">
            <i class="fa fa-edit"></i>
        </button>
    </h3>

    <div>
        {{ sesion.varios|raw }}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{ variosmodaledit }}" tabindex="-1" role="dialog" aria-labelledby="{{ variosmodaledit }}Label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="{{ variosmodaledit }}Label"> {{ sesion.name }} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% render controller("SiaBundle:Sesion:varios", {'slug': sesion.slug}) %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}