{% extends 'base.html.twig' %}

{% block body %}
    <h1>Academicos list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Academico</th>
                <th>Rfc</th>
                <th>Activo</th>
                {#<th>Actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for academico in academicos %}
            <tr>
                <td><a href="{{ path('academico_show', { 'slug': academico.slug }) }}">{{ academico.nombre }} {{ academico.apellido }}</a></td>
                <td>{{ academico.rfc }}</td>
                <td>{% if academico.activo %}Yes{% else %}No{% endif %}</td>
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('academico_show', { 'slug': academico.slug }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('academico_edit', { 'slug': academico.slug }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('academico_new') }}">Create a new academico</a>
        </li>
    </ul>
{% endblock %}
