{% extends 'base.html.twig' %}

{% block body %}
    <h1>Academico</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ academico.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ academico.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ academico.apellido }}</td>
            </tr>
            <tr>
                <th>Nacimiento</th>
                <td>{% if academico.nacimiento %}{{ academico.nacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Rfc</th>
                <td>{{ academico.rfc }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{% if academico.activo %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ academico.slug }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if academico.created %}{{ academico.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if academico.modified %}{{ academico.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('academico_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('academico_edit', { 'id': academico.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
