{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}

{% block body %}

    <h3 class="text-secondary mt-5">{{ academico.nombre|title }} {{ academico.apellido|title }} <small>- Ejercicio {{ year }}</small></h3>

    {% if is_granted("ROLE_ADMIN")  %}
        <a class="btn btn-sm btn-info" role="button" href="{{ path('dashboard', {'_switch_user': academico.user.username}) }}">Switch user {{ academico.user.username }}</a>
    {% endif %}

    {% if year == 2019 %}
        <div class="lead my-4 text-secondary">Ver histórico: <a href="{{ path('academico_show', {'slug': academico.slug, 'year': '2018' }) }}">2018</a></div>
    {% else %}
        <div class="lead my-4 text-secondary">Ver año actual: <a href="{{ path('academico_show', {'slug': academico.slug, 'year': '2019' }) }}">2019</a></div>
    {% endif %}

    <div class="card-deck mb-4 text-muted">
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Licencias</div>
                <h4>${{ asignacionLicencia |number_format(2)}}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Días Utilizados de Licencia</div>
                <h4>{{ diasLicencia }}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Comisiones</div>
                <h4>${{ asignacionComision |number_format(2)}}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Días Utilizados de Comisión</div>
                <h4>{{ diasComision }}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Visitantes</div>
                <h4>${{ asignacionVisitante |number_format(2)}}</h4>
            </div>
        </div>
    </div>


    {% set totalErogado = asignacionLicencia + asignacionComision + asignacionVisitante %}
    {% set saldo = asignacionAnual - totalErogado %}

    <div class="row mb-4">
        <div class="col-md-5 text-secondary">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Asignación anual</h5>
                    <table class="table">
                        <tbody>
                             <tr>
                                 <td>Total erogado licencias:</td>
                                 <td class="text-right">${{ totalErogado |number_format(2)}}</td>
                             </tr>
                             <tr>
                                 <td><h5><strong>Saldo disponible:</strong></h5></td>
                                 <td class="text-right"><h5><strong>${{ saldo |number_format(2)}}</strong></h5></td>
                             </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5 text-secondary">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total de días disponibles</h5>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><strong>Licencia:</strong></td>
                            <td class="text-right"><strong>{{ totalDias/2 - diasLicencia }}</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Comisión:</strong></td>
                            <td class="text-right"><strong>{{ totalDias/2 - diasComision }}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('solicitud_step') }}" class="btn btn-info mb-5" role="button"><i class="fa fa-plus"></i> Nueva solicitud</a>


    <h4 class="mb-4 text-secondary">Solicitudes <span class="badge badge-pill badge-info">{{ solicitudes|length }}</span></h4>

    <table id="tablaSolicitudes" class="table table-hover table-bordered table-striped table-sm text-small">

        <thead>

        <tr>
            {% if is_granted("ROLE_ADMIN") %}
                <th class="text-center">Académico</th>
            {% endif %}
            <th class="text-center">Tipo</th>
            <th class="text-center">Lugar/Invitado</th>
            <th class="text-center">Fechas</th>
            {#<th class="text-center">Dictamen</th>#}
            <th class="text-center">Días</th>
            <th class="text-center">Estatus</th>
            {#<th class="text-center">Fecha</th>#}
            <th class="text-center">Sesión</th>
            <th class="text-center">Dictamen</th>
        </tr>
        </thead>
        <tbody>
        {% for solicitud in solicitudes %}
            <tr>
            {% if is_granted("ROLE_ADMIN") %}
                <td><a href="{{ path('academico_show', {'slug' : solicitud.academico.slug }) }}">{{ solicitud.academico.apellido }} {{ solicitud.academico.nombre }}</a></td>
            {% endif %}
            <td><a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">{{ solicitud.tipo }}</a></td>

            {% if solicitud.tipo == "Visitante" %}
                <td>
                    {% for actividad in solicitud.actividades %}
                        {{ actividad.anfitrion }}
                    {% endfor %}
                </td>
            {% else %}
                <td>
                    {% for actividad in solicitud.actividades|slice(0,1) %}
                        {{ actividad.lugar }}
                    {% endfor %}
                </td>
            {% endif %}
            <td>{{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin|localizeddate('long', 'none') }}</td>
            <td class="text-center">{{ solicitud.getDias }}</td>
            <td class="text-center">{% if solicitud.enviada == true %}
                    <span class="badge badge-success">Enviada</span>
                {% else %}
                    <span class="badge badge-warning">En proceso</span>
                {% endif %}
            </td>
            {#<td>{{ solicitud.created|date }}</td>#}
            <td class="text-left">
                {% if solicitud.sesion %}
                    {#<a href="{{ path('sesion_show', {'slug': solicitud.sesion.slug }) }}">{{ solicitud.sesion }}</a>#}
                    {{ solicitud.sesion|title }} - {{ solicitud.sesion.fecha|localizeddate('long', 'none') }}
                {% else %}
                    <i class="fa fa-ban text-secondary"></i>
                {% endif %}
            </td>
            <td class="text-center">
                {% if solicitud.dictamen %}
                    <i class="fa fa-check text-success"></i>
                {% elseif solicitud.dictamen is null %}
                    <i class="fa fa-exclamation-triangle text-warning"></i>
                {% else %}
                    <i class="fa fa-times text-danger"></i>
                {% endif %}
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.colVis.min.js"></script>

    {{ parent() }}

    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable( {

               // lengthChange: false,
               // pageLength: 25,

                buttons: [
                    {
                        text: '<i class="fa fa-files-o"></i>',
                        titleAttr: 'Copiar',
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'csvHtml5',
                        text: '<i class="fa fa-file-text-o"></i>',
                        titleAttr: 'CSV separado por comas',
                        exportOptions: {
                            columns: ':visible'
                        },
                        fieldSeparator: ',',
                        extension: '.csv'
                    },

                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'PDF',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend:'colvis',
                        text: 'Columnas'
                    }

                ],



            } );

            table.buttons().container()
                    .appendTo( '#example_wrapper .col-md-6:eq(0)' );

        } );
    </script>
{% endblock %}
