{% extends 'base.html.twig' %}
{% block sidebar %}
{% endblock %}

{% block body %}

    <h3 class="text-secondary mt-4">{{ academico.nombre|title }} {{ academico.apellido|title }} <small>- Ejercicio {{ year }}</small></h3>

    {% if year == 2018 %}
        <div class="lead my-4 text-secondary">Ver histórico: <a href="{{ path('academico_show', {'slug': academico.slug, 'year': '2017' }) }}">2017</a></div>
    {% else %}
        <div class="lead my-4 text-secondary">Ver año actual: <a href="{{ path('academico_show', {'slug': academico.slug, 'year': '2018' }) }}">2018</a></div>
    {% endif %}

    <div class="card-deck mb-4 text-muted">
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Licencias</div>
                <h4>${{ asignacionLicencia |number_format(2)}}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Días de Licencia</div>
                <h4>{{ diasLicencia }}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Comisiones</div>
                <h4>${{ asignacionComision |number_format(2)}}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Días de Comisión</div>
                <h4>{{ diasComision }}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="mb-2">Erogado Visitantes</div>
                <h4>${{ asignacionVisitante |number_format(2)}}</h4>
            </div>
        </div>
    </div>

    {% set totalErogado = asignacionLicencia + asignacionComision + asignacionVisitante %}
    {% set saldo = asignacionAnual - totalErogado %}

    <div class="row my-4">
        <div class="col-lg-3 lead text-info">
            <h3>Saldo: ${{ saldo |number_format(2)}}</h3>
        </div>
        <div class="col-lg-3 lead text-info">
            <h3>Días: {{ totalDias - diasLicencia - diasComision}}</h3>
        </div>
    </div>

    <a href="{{ path('solicitud_step') }}" class="btn btn-info mb-5" role="button"><i class="fa fa-plus"></i> Crear nueva solicitud</a>

    <h3 class="mb-4 text-secondary">Solicitudes</h3>

    <table id="tablaSolicitudes" class="table table-hover table-bordered table-striped table-sm text-small">

        <thead>
        <tr>
            {% if is_granted("ROLE_ADMIN") %}
                <th class="text-center">Académico</th>
            {% endif %}
            <th class="text-center">Tipo</th>
            <th class="text-center">Lugar/Invitado</th>
            <th class="text-center">Fechas</th>
            {#<th class="text-center">Dictamen</th>#}
            <th class="text-center">Estatus</th>
            {#<th class="text-center">Fecha</th>#}
            <th class="text-center">Sesión</th>
            <th class="text-center">Dictamen</th>
        </tr>
        </thead>
        <tbody>
        {% for solicitud in solicitudes %}
            <tr>
                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('academico_show', {'slug' : solicitud.academico.slug }) }}">{{ solicitud.academico.apellido }} {{ solicitud.academico.nombre }}</a></td>
                {% endif %}
                <td><a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">{{ solicitud.tipo }}</a></td>

                {% if solicitud.tipo == "Visitante" %}
                    <td>
                        {% for actividad in solicitud.actividades %}
                            {{ actividad.anfitrion }}
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        {% for actividad in solicitud.actividades|slice(0,1) %}
                            {{ actividad.lugar }}
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin|localizeddate('long', 'none') }}</td>

                <td class="text-center">{% if solicitud.enviada == true %}
                        <span class="badge badge-success">Enviada</span>
                    {% else %}
                        <span class="badge badge-warning">En proceso</span>
                    {% endif %}
                </td>
                {#<td>{{ solicitud.created|date }}</td>#}
                <td class="text-center">
                    {% if solicitud.sesion %}
                        <a href="{{ path('sesion_show', {'slug': solicitud.sesion.slug }) }}">{{ solicitud.sesion }}</a>
                    {% else %}
                        <i class="fa fa-ban text-secondary"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    {% if solicitud.dictamen %}
                        <i class="fa fa-check text-success"></i>
                    {% else %}
                        <i class="fa fa-exclamation-triangle text-warning"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<h4 class="text-secondary mb-4">Licencias</h4>#}
    {# Solicitudes #}
    {#<table class="table">#}
        {#<thead>#}
        {#<tr><th>Tipo de solicitud</th><th>Financiamiento CCM</th><th>Fecha</th></tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for solicitud in solicitudes %}#}
            {# Muestra solo licitudes del año vigente #}
            {#{% if solicitud.fechaInicio >= '2018-01-01'  %}#}
                {#<tr>#}
                    {#<td>#}
                        {#<a href="{{ path('solicitud_show', {'id': solicitud.id }) }}">{{ solicitud.tipo }}</a>#}
                    {#</td>#}
                    {#{% set ccm = 0 %}#}
                    {#{% for financiamiento in solicitud.financiamiento %}#}
                        {#{% set ccm = financiamiento.ccm + ccm %}#}
                    {#{% endfor %}#}
                    {#<td> ${{ ccm | number_format(2)}}</td>#}
                    {#<td>#}
                        {#del {{ solicitud.fechaInicio | localizeddate('medium', 'none', null, null, "d LLL") }} al {{ solicitud.fechaFin| localizeddate('medium', 'none', null, null, "d LLL Y") }}#}
                    {#</td>#}
                {#</tr>#}
            {#{% endif %}#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

{% endblock %}
