{% extends 'base.html.twig' %}
{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" type="text/css"/>


{% endblock %}

{% block body %}
    <strong>{{ app.user }}</strong>
    {# in src/MyCompany/MyBundle/Resources/views/Vehicle/createVehicle.html.twig #}

    <ol class="breadcrumb">
        <li><a href="{{ path('solicitud_index') }}">Solicitudes</a></li>
        <li><a href="#">Nueva solicitud</a></li>
    </ol>

    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Solicitud</h3>
                </div>
                <div class="panel-body">
                    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}

                    {{ form_start(form) }}

                    {% if flow.getCurrentStepNumber() == 1 %}
                        <div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <div>
                                        {{ form_label(form.tipo) }}
                                    </div>
                                    <div>
                                        {{ form_widget(form.tipo) }}
                                    </div>
                                    <div>{{ form_errors(form.tipo) }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

    {% if flow.getCurrentStepNumber() == 2 %}

        {% if form.ambito is defined %}

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div>{{ form_label(form.ambito) }}</div>
                                <div>
                                    {% spaceless %}
                                        {% for child in form.ambito %}
                                            <div class="radio-inline">
                                                {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                            </div>
                                        {% endfor %}
                                    {% endspaceless %}
                                </div>
                                <div>{{ form_errors(form.ambito) }}</div>
                            </div>
                        </div>
                    {% endif %}

                    {% if form.cartaInvitacionFile is defined %}
                        <div class="col-lg-4">
                            <dl>
                                <dd>{{ form_widget(form.cartaInvitacionFile) }}</dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if form.planFile is defined %}
                        <div class="col-lg-4">
                            <dl>
                                <dd>{{ form_widget(form.planFile) }}</dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if form.cartaSolicitudFile is defined %}
                        <div class="col-lg-4">
                            <dl>
                                <dd>{{ form_widget(form.cartaSolicitudFile) }}</dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if form.fechaInicio is defined %}

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    {{ form_label(form.fechaInicio) }}
                                </div>
                                <div class="input-group date">
                                    {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control js-datepicker'}}) }}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>

                                <div>{{ form_errors(form.fechaInicio) }}</div>
                            </div>
                        </div>
                    {% endif %}

                    {% if form.fechaFin is defined %}

                        <div class="col-lg-4">
                            <div class="form-group">
                                <div>
                                    {{ form_label(form.fechaFin) }}
                                </div>
                                <div class="input-group date">
                                    {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div>{{ form_errors(form.fechaFin) }}</div>
                            </div>
                        </div>




                    {% endif %}

        <div class="col-lg-4">
            <h3><span class="label label-primary" id="days"></span></h3>
            <p class="text-info" id="days"></p>
        </div>


                    {{ form_errors(form) }}
        {% endif %}

                    {% if flow.getCurrentStepNumber() == 3 %}


                        <div class="row">
                            <div class="col-lg-4">
                                <dl>
                                    <dt><strong>Tipo de solicitud: </strong></dt>
                                    <dd>{{ formdata.tipo }}</dd>
                                </dl>
                            </div>

                            <div class="col-lg-4">
                                <dl>
                                    <dt><strong>Ámbito de la solicitud:</strong></dt>
                                    <dd>{% if formdata.ambito == true %}
                                            <span class="label label-success "><i class="fa fa-check-square"></i> Nacional</span>
                                        {% elseif formdata.ambito is null %}
                                            <span class="label label-warning "><i class="fa fa-check-exclamation"></i> <i class="fa fa-exclamation-circle"></i> Pendiente</span>
                                        {% elseif formdata.ambito == false %}
                                            <span class="label label-danger"><i class="fa fa-times-circle"></i> Internacional</span>
                                        {% endif %}
                                    </dd>
                                </dl>
                            </div>


                            {% if formdata.cartaInvitacionFile != null %}
                                <div class="col-lg-5">
                                    <dl>
                                        <dt>Carta de invitación</dt>

                                        <dd>Si</dd>
                                    </dl>
                                </div>
                            {% endif %}

                            {% if formdata.planFile != null %}
                                <div class="col-lg-5">
                                    <dl>
                                        <dt>Plan de trabajo</dt>
                                        <dd>Si</dd>
                                    </dl>
                                </div>
                            {% endif %}

                            {% if formdata.cartaSolicitudFile != null %}
                                <div class="col-lg-4">
                                    <dl>
                                        <dt><strong>Carta solicitud</strong></dt>
                                        <dd>Si</dd>
                                    </dl>
                                </div>
                            {% endif %}

                            <div class="col-lg-4">
                                <dl>
                                    <dt><strong>Fecha de inicio</strong></dt>
                                    <dd>{{ formdata.fechaInicio|localizeddate('long', 'none') }}</dd>
                                </dl>
                            </div>
                            <div class="col-lg-4">
                                <dl>
                                    <dt><strong>Fecha de término</strong>:</dt>
                                    <dd>{{ formdata.fechaFin|localizeddate('long', 'none') }}</dd>
                                </dl>
                            </div>


                        </div>
                    {% endif %}
                </div>
                {{ form_rest(form) }}

                <div class="panel-footer pull-center">
                    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
                    craue_formflow_button_class_last: 'btn btn-primary',
                    craue_formflow_button_class_back: 'btn btn-default',
                    craue_formflow_button_class_reset: 'btn btn-warning',
                    craue_formflow_button_label_finish: 'Enviar',
                    craue_formflow_button_label_back: 'Regresar',
                    craue_formflow_button_label_next: 'Siguiente',
                    craue_formflow_button_label_reset: 'Reiniciar',
                    } %}
                </div>

            </div>
        </div>

        {{ form_end(form) }}
    </div>

 {#   {% if is_granted('ROL_ADMIN') %}
        <p>Username: {{ app.user.username }}</p>
        <a href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">Dash</a>
    {% endif %}#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/dates.js')}}"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                orientation: "auto bottom"
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker2').datepicker({
                format: 'yyyy-MM-dd',
                orientation: "auto bottom"
            });
        });
    </script>



{% endblock %}