{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">
{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">
            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('solicitud_index') }}">
            <span data-feather="file"></span>
            Solicitudes
        </a>
    </li>
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('solicitud_index') }}">Solicitudes</a></li>
            <li class="breadcrumb-item"><a href="{{ path('solicitud_show',{'id': id}) }}">Regresar a la solicitud</a></li>
        </ol>
    </nav>

    {#<div class="row">#}
    {#<div class="col-md-12">#}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-secondary">Agregar actividad académica a la solicitud</h3>
        </div>
        <div class="card-body pt-4">
            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% if flow.getCurrentStepNumber() == 1 %}
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="tipoActividad">{{ form_label(form.tipo) }}</label>
                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control', 'id': 'tipoActividad'}}) }}
                        <div class="text-danger">{{ form_errors(form.tipo) }}</div>
                    </div>
                </div>
            {% endif %}

            <div class="row">

                {% if form.titulo is defined %}
                    <div class="form-group col-md-1">
                        <label>{{ form_label(form.titulo) }}</label>
                        {{ form_widget(form.titulo, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                        <div class="text-danger">{{ form_errors(form.titulo) }}</div>
                    </div>
                {% endif %}

                {% if form.anfitrion is defined %}
                    <div class="form-group col-md-5">
                        <label>{{ form_label(form.anfitrion) }}</label>
                        {{ form_widget(form.anfitrion, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Favor de escribir el nombre completo del invitado ya que es necesario para realizar todos los
                            trámites correspondientes a su visita (pagos).
                        </small>
                        <div class="text-danger">{{ form_errors(form.anfitrion) }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="row">
                {% if form.sinodalAlumno is defined %}
                    <div class="form-group col-md-6">
                        <label>{{ form_label(form.sinodalAlumno) }}</label>
                        {{ form_widget(form.sinodalAlumno, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                        <div class="text-danger">{{ form_errors(form.sinodalAlumno) }}</div>
                    </div>
                {% endif %}

                {% if form.sinodalGrado is defined %}
                    <div class="form-group col-md-3">
                        <label>{{ form_label(form.sinodalGrado) }}</label>
                        {{ form_widget(form.sinodalGrado, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                        <div class="text-danger">{{ form_errors(form.sinodalGrado) }}</div>
                    </div>
                {% endif %}
            </div>

            {% if form.motivo is defined %}
                <p class="text-info">Seleccione uno o más motivos de la actividad</p>
                <div class="form-group border-bottom pb-3">
                    {% for key in form.motivo %}
                        <div class="form-check form-check-inline">
                            {{ form_widget(key, {'attr': {'class': 'form-check-input'}})}}
                            {{ form_label(key, label|default(null), { 'label_attr': {'class': 'form-check-label'}})}}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    {% if form.nombreEvento is defined %}
                        <div class="form-group">
                            {{  form_label(form.nombreEvento) }}
                            {{ form_widget(form.nombreEvento, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                            <div class="text-danger">{{ form_errors(form.nombreEvento) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if form.tituloTrabajo is defined %}
                        <div class="form-group">
                            {{ form_label(form.tituloTrabajo) }}
                            {{ form_widget(form.tituloTrabajo, {'attr': {'class': 'form-control form-control-sm'} } ) }}
                            <div class="text-danger">{{ form_errors(form.tituloTrabajo) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                {% if form.nacional is defined %}
                    <div class="col">
                        <div class="form-group">
                            <div class="text-info">Origen del invitado</div>
                            {% for child in form.nacional %}
                                <div class="form-check form-check-inline">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            {% endfor %}
                            <div class="text-danger">{{ form_errors(form.nacional) }}</div>
                        </div>
                    </div>
                {% endif %}

                {% if form.invitacion is defined %}
                    <div class="col">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(form.invitacion) }}</div>
                            {% for child in form.invitacion %}
                                <div class="form-check form-check-inline">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            {% endfor %}
                            <div class="text-danger">{{ form_errors(form.invitacion) }}</div>
                        </div>
                    </div>
                {% endif %}
                {% if form.plenaria is defined %}
                    <div class="col">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(form.plenaria) }}</div>
                            {% for child in form.plenaria %}
                                <div class="form-check form-check-inline">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            {% endfor %}
                            <div class="text-danger">{{ form_errors(form.plenaria) }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% if form.institucion is defined %}
                        <div class="form-group">
                            <div>{{ form_label(form.institucion) }}</div>
                            <div>{{ form_widget(form.institucion, {'attr': {'class': 'form-control form-control-sm'} } ) }}</div>
                            <small id="passwordHelpBlock" class="form-text text-muted">Nombre de la institución de origen del invitado</small>
                            <div>{{ form_errors(form.institucion) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {% if form.departamento is defined %}
                        <div class="form-group">
                            <div>{{ form_label(form.departamento) }}</div>
                            <div>{{ form_widget(form.departamento, {'attr': {'class': 'form-control form-control-sm'} } ) }}</div>
                            <small id="passwordHelpBlock" class="form-text text-muted">Nombre del departamento (si es el caso)</small>
                            <div>{{ form_errors(form.departamento) }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                {% if form.lugar is defined %}
                    <div class="form-group col-md-6">
                        <div>{{ form_label(form.lugar) }}</div>
                        <div>{{ form_widget(form.lugar, {'attr': {'class': 'form-control form-control-sm'} } ) }}</div>
                        <div class="text-danger">{{ form_errors(form.lugar) }}</div>
                    </div>
                {% endif %}

                {% if form.fechaActividad is defined %}
                    <div class="form-group col-md-3">
                        {{ form_label(form.fechaActividad) }}
                        <div class="input-group">
                            {{ form_widget(form.fechaActividad, {'attr': {'class': 'form-control form-control-sm js-datepicker'}}) }}
                            <div class="input-group-append">
                                <span class="input-group-text" id="fechaActividad"><i class="fa fa-calendar"></i></span>
                            </div>                            {#<div class="input-group-text">#}
                        </div>
                        {#<label for="createSolicitud_fechaActividad" class="input-group-addon fa fa-calendar"></label>#}
                        {#</div>#}
                        <div class="text-danger">{{ form_errors(form.fechaActividad) }}</div>
                    </div>
                {% endif %}
            </div>

            {% if flow.getCurrentStepNumber() == 3 %}

                <div class="card p-4">
                    <strong>{{ formdata.tipo }}</strong>
                    {% if formdata.anfitrion %}
                        <span class="label label-default">{{ formdata.anfitrion }}</span><br>
                    {% endif %}

                    {%  if formdata.nombreEvento %}
                        <strong><span class="label label-default">{{ formdata.nombreEvento }}</span></strong><br>
                    {% endif %}
                    {% if formdata.tituloTrabajo %}
                        <em><span class="label label-default">{{ formdata.tituloTrabajo }}</span></em><br>
                    {% endif %}
                    <span class="label label-default">{{ formdata.institucion }}</span><br>
                    <span class="label label-default">{{ formdata.departamento }}</span>
                    <br><span class="label label-default">{{ formdata.lugar }}</span>
                    {% if formdata.sinodalAlumno %}
                        <br><span class="label label-default">Estudiante: {{ formdata.sinodalAlumno }}</span>
                    {% endif %}
                    {% if formdata.sinodalGrado %}
                        <span>{{  formdata.sinodalGrado }}</span>
                    {% endif %}
                    {% if formdata.fechaActividad %}
                    <br><em><span class="label label-default">{{ formdata.fechaActividad|localizeddate('long', 'none') }}</span></em>
                    {% endif %}

                </div>
            {% endif %}

        </div>
        {{ form_rest(form) }}

        <div class="card-footer py-5">
            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
            craue_formflow_button_class_last: 'btn btn-primary',
            craue_formflow_button_class_back: 'btn btn-default',
            craue_formflow_button_class_reset: 'btn btn-warning',
            craue_formflow_button_label_finish: 'Agregar actividad',
            craue_formflow_button_label_back: 'Regresar',
            craue_formflow_button_label_next: 'Siguiente',
            craue_formflow_button_label_reset: 'Reiniciar',
            } %}
        </div>
    </div>
    {{ form_end(form) }}
    {#</div>#}
    {#</div>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/dates.js')}}"></script>

    <script>
        $(".date-picker").datepicker();

        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                orientation: "auto bottom"

            });
        });
    </script>
{% endblock %}