{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">
{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">

            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('solicitud_index') }}">
            <span data-feather="file"></span>
            Solicitudes
        </a>
    </li>
{% endblock %}

{% block body %}
    {#<strong>{{ app.user }}</strong>#}
    {# in src/MyCompany/MyBundle/Resources/views/Vehicle/createVehicle.html.twig #}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white border-bottom">
            <li class="breadcrumb-item"><a href="{{ path('solicitud_index') }}">Solicitudes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nueva solicitud</li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-secondary">Nueva solicitud de {{ formdata.tipo }}</h3>
        </div>
        <div class="card-body">
            {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}

            {{ form_start(form) }}

            {% if flow.getCurrentStepNumber() == 1 %}
                <div class="row">
                    <div class="form-group col-md-4">
                        {{ form_label(form.tipo) }}
                        {{ form_widget(form.tipo, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">{{ form_errors(form.tipo) }}</div>
                    </div>
                </div>
            {% endif %}

            {% if flow.getCurrentStepNumber() == 2 %}

                {% if form.ambito is defined %}
                    <div class="form-group">
                        <div>{{ form_label(form.ambito) }}:</div>
                            {% for child in form.ambito %}
                                <div class="form-check form-check-inline">
                                    {{ form_widget(child, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) }}
                                </div>
                            {% endfor %}
                        <div class="text-danger">{{ form_errors(form.ambito) }}</div>
                    </div>
                {% endif %}

                <div class="row pb-4 border-bottom">
                    {% if form.cartaInvitacionFile is defined %}
                        <div class="col-md-4">
                            <div>{{ form_label(form.cartaInvitacionFile) }}</div>
                            {% for child in form.cartaInvitacionFile %}
                                {{ form_widget(child, {'attr': {'class': 'form-file-input'}}) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if form.planFile is defined %}
                        <div class="col-md-4">
                            <div>{{ form_label(form.planFile) }}</div>
                            {% for child in form.planFile %}
                                {{ form_widget(child, {'attr': {'class': 'form-file-input'}}) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if form.cartaSolicitudFile is defined %}
                        <div class="col-md-4">
                            <div>{{ form_label(form.cartaSolicitudFile) }}</div>
                            {% for child in form.cartaSolicitudFile %}
                                {{ form_widget(child, {'attr': {'class': 'form-file-input'}}) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="row mt-3">
                    {% if form.fechaInicio is defined %}
                        <div class="control-group col-md-4">
                            {{ form_label(form.fechaInicio) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                {{ form_widget(form.fechaInicio, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            </div>
                            <div class="text-danger">{{ form_errors(form.fechaInicio) }}</div>
                        </div>
                    {% endif %}
                    {% if form.fechaFin is defined %}
                        <div class="form-group col-md-4">
                            {{ form_label(form.fechaFin) }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                {{ form_widget(form.fechaFin, {'attr': {'class': 'form-control js-datepicker'}}) }}
                            </div>
                            <div class="text-danger">{{ form_errors(form.fechaFin) }}</div>
                        </div>
                    {% endif %}

                    <div class="col-md-4">
                        <h4><span class="badge badge-primary " id="days"></span></h4>
                        <p class="text-info" id="days"></p>
                    </div>
                </div>
                {{ form_errors(form) }}
            {% endif %}

            {% if flow.getCurrentStepNumber() == 3 %}

                <div class="row">
                    <div class="col-md-4">
                        <dl>
                            <dt><strong>Tipo de solicitud: </strong></dt>
                            <dd>{{ formdata.tipo }}</dd>
                        </dl>
                    </div>

                    <div class="col-lg-4">
                        <dl>
                            <dt><strong>Ámbito de la solicitud:</strong></dt>
                            <dd>{% if formdata.ambito == true %}
                                    <span class="badge badge-success "><i class="fa fa-check-square"></i> Nacional</span>
                                {% elseif formdata.ambito is null %}
                                    <span class="badge badge-warning "><i class="fa fa-check-exclamation"></i> <i class="fa fa-exclamation-circle"></i> Pendiente</span>
                                {% elseif formdata.ambito == false %}
                                    <span class="badge badge-danger"><i class="fa fa-times-circle"></i> Internacional</span>
                                {% endif %}
                            </dd>
                        </dl>
                    </div>

                </div>

                <div class="row">

                    {% if formdata.cartaInvitacionFile != null %}
                        <div class="col-lg-4">
                            <dl>
                                <dt>Carta de invitación</dt>

                                <dd>Si</dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if formdata.planFile != null %}
                        <div class="col-lg-4">
                            <dl>
                                <dt>Plan de trabajo</dt>
                                <dd>Si</dd>
                            </dl>
                        </div>
                    {% endif %}

                    {% if formdata.cartaSolicitudFile != null %}
                        <div class="col-lg-4">
                            <dl>
                                <dt><strong>Carta solicitud</strong></dt>
                                <dd>Si</dd>
                            </dl>
                        </div>
                    {% endif %}
                </div>
                <div class="row">

                    <div class="col-lg-4">
                        <dl>
                            <dt><strong>Fecha de inicio</strong></dt>
                            <dd>{{ formdata.fechaInicio|localizeddate('long', 'none') }}</dd>
                        </dl>
                    </div>
                    <div class="col-lg-4">
                        <dl>
                            <dt><strong>Fecha de término</strong>:</dt>
                            <dd>{{ formdata.fechaFin|localizeddate('long', 'none') }}</dd>
                        </dl>
                    </div>


                </div>
            {% endif %}
            {{ form_rest(form) }}
        </div>
        <div class="card-footer pull-center">
            {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
            craue_formflow_button_class_last: 'btn btn-primary',
            craue_formflow_button_class_back: 'btn btn-default',
            craue_formflow_button_class_reset: 'btn btn-warning',
            craue_formflow_button_label_finish: 'Enviar',
            craue_formflow_button_label_back: 'Regresar',
            craue_formflow_button_label_next: 'Siguiente',
            craue_formflow_button_label_reset: 'Reiniciar',
            } %}
        </div>
    </div>

        {{ form_end(form) }}

    {#   {% if is_granted('ROL_ADMIN') %}
           <p>Username: {{ app.user.username }}</p>
           <a href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">Dash</a>
       {% endif %}#}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('js/dates.js')}}"></script>

    <script>
        $(".date-picker").datepicker();

        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                orientation: "auto bottom"

            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker2').datepicker({
                format: 'yyyy-MM-dd',
                orientation: "auto bottom"
            });
        });
    </script>
{% endblock %}