<div class="form-group">
    {{ form_label(edit_form.ambito) }}:
    {{ form_start(edit_form, {'action': path('solicitud_edit', { 'id': solicitud.id})}) }}
    <div class="custom-control custom-radio custom-control-inline">
        {% spaceless %}
            {% for child in edit_form.ambito %}
                <div class="custom-control custom-radio custom-control-inline">
                    {{ form_widget(child, {'attr': {'class': 'custom-control-input'}}) }}
                    {{ form_label(child, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                </div>
            {% endfor %}
        {% endspaceless %}
    </div>
    <div>{{ form_errors(edit_form.ambito) }}</div>
</div>

<div class="row">
    {% if solicitud.cartaSolicitudName != null %}
        <div class="col-lg-4">
            <dl>
                <dt>Carta Solicitud</dt>

                <dd><a href="{{ vich_uploader_asset(solicitud, 'cartaSolicitudFile') }}"  target="_blank"/>{{ solicitud.cartaSolicitudName }}</a></dd>

            </dl>
        </div>
    {% endif %}
    {% if solicitud.cartaInvitacionName != null  %}
        <div class="col-lg-4">
            <dl>
                <dt>Carta invitación</dt>

                <dd><a href="{{ vich_uploader_asset(solicitud, 'cartaInvitacionFile') }}"  target="_blank"/>{{ solicitud.cartaInvitacionName }}</a></dd>

            </dl>
        </div>
    {% endif %}
    {% if solicitud.planName  != null  %}
        <div class="col-lg-4">
            <dl>
                <dt>Plan de trabajo</dt>

                <dd><a href="{{ vich_uploader_asset(solicitud, 'planFile') }}"  target="_blank"/>{{ solicitud.planName }}</a></dd>

            </dl>
        </div>
    {% endif %}

    {% if edit_form.cartaSolicitudFile is defined %}
        <div class="col-lg-4">
            <dl>
                <dd>{{ form_widget(edit_form.cartaSolicitudFile) }}</dd>
            </dl>
        </div>
    {% endif %}

    {% if edit_form.cartaInvitacionFile is defined %}
        <div class="col-lg-4">
            <dl>
                <dd>{{ form_widget(edit_form.cartaInvitacionFile) }}</dd>
            </dl>
        </div>
    {% endif %}

    {% if edit_form.planFile is defined %}
        <div class="col-lg-4">
            <dl>
                <dd>{{ form_widget(edit_form.planFile) }}</dd>
            </dl>
        </div>
    {% endif %}
</div>

<div class="form-row">
    <div class="form-group col-md-5">
        <div>
            {{ form_label(edit_form.fechaInicio) }}
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            {{ form_widget(edit_form.fechaInicio, {'attr': {'class': 'form-control js-datepicker'}}) }}
        </div>
        <div>{{ form_errors(edit_form.fechaInicio) }}</div>
    </div>
    <div class="form-group col-md-5">
        <div>
            {{ form_label(edit_form.fechaFin) }}
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
            {{ form_widget(edit_form.fechaFin, {'attr': {'class': 'form-control js-datepicker2'}}) }}
        </div>
        <div>{{ form_errors(edit_form.fechaFin) }}</div>
    </div>
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="form-group">
        <div>{{ form_label(edit_form.descripcion) }}</div>
        {{ form_widget(edit_form.descripcion, {'attr': {'class': 'form-control' ,'placeholder':'Descripción','rows':'5'} } ) }}
        <div class="text-danger">{{ form_errors(edit_form.descripcion) }}</div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <div>Acta: </div>
            {{ form_widget(edit_form.sesion, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(edit_form.sesion) }}</div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-6">
            {{ form_label(edit_form.dictamen) }}:

            <div class="custom-control custom-radio custom-control-inline">
                {% spaceless %}
                    {% for child in edit_form.dictamen %}
                        <div class="custom-control custom-radio custom-control-inline">
                            {{ form_widget(child, {'attr': {'class': 'custom-control-input'}}) }}
                            {{ form_label(child, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
        <div class="form-group col-md-4">
            {{ form_label(edit_form.enviada) }}:

            <div class="custom-control custom-radio custom-control-inline">
                {% spaceless %}
                    {% for child in edit_form.enviada %}
                        <div class="custom-control custom-radio custom-control-inline">
                            {{ form_widget(child, {'attr': {'class': 'custom-control-input'}}) }}
                            {{ form_label(child, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="form-group col-md-4">
            {{ form_label(edit_form.erogadoAsignacion) }}:

            <div class="custom-control custom-radio custom-control-inline">
                {% spaceless %}
                    {% for child in edit_form.erogadoAsignacion %}
                        <div class="custom-control custom-radio custom-control-inline">
                            {{ form_widget(child, {'attr': {'class': 'custom-control-input'}}) }}
                            {{ form_label(child, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
        </div>
    </div>
{% endif %}

    {{ form_widget(edit_form) }}

<input type="submit" value="Guardar"  class="btn btn-primary my-4"/>
<button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
{{ form_end(edit_form) }}
