{% extends 'base.html.twig' %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">

            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('solicitud_step') }}">
            <span data-feather="file"></span>
            Nueva solicitud
        </a>
    </li>
{% endblock %}

{% block body %}

    <div class="page-header">
        <h2>Solicitudes <small>{{ solicituds|length }}</small></h2>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Fechas</th>
                <th>Acta</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for solicitud in solicituds %}
            <tr>
                <td><a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}" >{{ solicitud.id }}</a></td>
                <td>{{ solicitud.tipo }}</td>

                <td>{{ solicitud.fechaInicio|localizeddate('long', 'none') }} al {{ solicitud.fechaFin|localizeddate('long', 'none') }}</td>
                <td>{{ solicitud.sesion }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}">show</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('solicitud_step') }}" class="btn btn-info" role="button">Nueva solicitud</a>



{% endblock %}
