{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block css %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.css') }}">


{% endblock %}

{{ form_start(form, {'action': path('solicitud_new')}) }}

<div class="row">

    <div class="col-lg-3">
        <div class="form-group">
            <div>
                {{ form_label(form.tipo) }}
            </div>
            <div>
                {{ form_widget(form.tipo) }}
            </div>
            <div>{{ form_errors(form.tipo) }}</div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="form-group">
            <div>{{ form_label(form.ambito) }}</div>
            <div>
                {% spaceless %}
                    {% for child in form.ambito %}
                        <div class="radio-inline">
                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                        </div>
                    {% endfor %}
                {% endspaceless %}
            </div>
            <div>{{ form_errors(form.ambito) }}</div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <div>
                    {{ form_label(form.fechaInicio) }}
                </div>
                <div>
                    {{ form_widget(form.fechaInicio) }}
                </div>
                <div>{{ form_errors(form.fechaInicio) }}</div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <div>
                    {{ form_label(form.fechaFin) }}
                </div>
                <div>
                    {{ form_widget(form.fechaFin) }}
                </div>
                <div>{{ form_errors(form.fechaFin) }}</div>
            </div>
        </div>
    </div>

</div>



<br>


<div class="col-lg-12">
    <input type="submit" value="Nueva solicitud" class="btn btn-success"/>
    {{ form_end(form) }}
</div>




{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd',
                language: 'es',
                orientation: "auto bottom"
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker2').datepicker({
                format: 'yyyy-MM-dd',
                orientation: "auto bottom"
            });
        });
    </script>



{% endblock %}
