{% extends 'base.html.twig' %}


{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">

            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('solicitud_index') }}">
            <span data-feather="file"></span>
            Solicitudes
        </a>
    </li>
{% endblock %}

{% block body %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white boder-bottom">
            <li  class="breadcrumb-item"><a href="{{ path('solicitud_index') }}">Solicitudes</a></li>
            {#<li class="breadcrumb-item active" aria-current="page" ><a href="#">{{ solicitud.id }}</a></li>#}
            <li class="breadcrumb-item active" aria-current="page">{{ solicitud.id }} - {{ solicitud.tipo }}</li>
        </ol>

    </nav>
    {% if solicitud.enviado == true %}
        <span class="badge badge-pill badge-success float-right">Solicitud enviada</span>
    {% else %}
        <span class="badge badge-pill badge-dark float-right">Solicitud no enviada</span>
    {% endif %}

    {#<a href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">Exit dash</a>#}
    <h3 class="text-muted my-4 border-bottom"><strong>{{ solicitud.academico.nombre }} {{ solicitud.academico.apellido }}</strong></h3>
    <h2 class="text-info">{{ solicitud.tipo }} <small>
            {% if solicitud.ambito == true %}
                Nacional
            {% elseif solicitud.ambito is null %}
                Pendiente
            {% elseif solicitud.ambito == false %}
                Internacional
            {% endif %}
        </small>
    </h2>

    Del <strong>{{ solicitud.fechaInicio|localizeddate('long', 'none') }}</strong> al <strong>{{ solicitud.fechaFin|localizeddate('long', 'none') }}</strong>

    {#<strong>#}
        {#{% if solicitud.ambito == true %}#}
            {#<span class="badge badge-success "><i class="fa fa-check-square"></i> Nacional</span>#}
        {#{% elseif solicitud.ambito is null %}#}
            {#<span class="badge badge-warning "><i class="fa fa-check-exclamation"></i> <i class="fa fa-exclamation-circle"></i> Pendiente</span>#}
        {#{% elseif solicitud.ambito == false %}#}
            {#<span class="badge badge-danger"><i class="fa fa-times-circle"></i> Internacional</span>#}
        {#{% endif %}#}
    {#</strong>#}

    <div class="row">
        {% if solicitud.cartaSolicitudName != null %}
            <div class="col-lg-4">
                <dl>
                    <dt>Carta Solicitud</dt>
                    <dd><a href="{{ vich_uploader_asset(solicitud, 'cartaSolicitudFile') }}"  target="_blank"/>{{ solicitud.cartaSolicitudName }}</a></dd>
                </dl>
            </div>
        {% endif %}
        {% if solicitud.cartaInvitacionName != null  %}
            <div class="col-lg-4">
                <dl>
                    <dt>Carta invitación</dt>
                    <dd><a href="{{ vich_uploader_asset(solicitud, 'cartaInvitacionFile') }}"  target="_blank"/>{{ solicitud.cartaInvitacionName }}</a></dd>
                </dl>
            </div>
        {% endif %}
        {% if solicitud.planName  != null  %}
            <div class="col-lg-4">
                <dl>
                    <dt>Plan de trabajo</dt>
                    <dd><a href="{{ vich_uploader_asset(solicitud, 'planFile') }}"  target="_blank"/>{{ solicitud.planName }}</a></dd>
                </dl>
            </div>
        {% endif %}
    </div>

    {#{% if solicitud.descripcion is defined %}#}
        {#<div class="card border-light">#}
            {#<div class="card-header"><strong>Descripción</strong></div>#}
            {#<div class="card-body">#}
                {#<p class="card-text">{{ solicitud.descripcion }}</p>#}
            {#</div>#}
        {#</div>#}
    {#{% endif %}#}

    {#<p><strong>Acta: {{ solicitud.sesion }}</strong></p>#}

    {% if solicitud.enviado == false %}
        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#modalsolicitud">
            <i class="fa fa-edit"></i> Modificar solicitud
        </button>
    {% endif %}

    {#<!-- Modal -->#}
    {#<div class="modal fade" id="modalsolicitud" tabindex="-1" role="dialog" aria-labelledby="modalsolicitudLabel">#}
    {#<div class="modal-dialog modal-lg modal-dialog-centered" role="document">#}
    {#<div class="modal-content">#}
    {#<div class="modal-header">#}
    {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
    {#<h4 class="modal-title" id="modalsolcitudLabel">{{ solicitud.tipo }}</h4>#}
    {#</div>#}
    {#<div class="modal-body">#}
    {#{% render controller("SiaBundle:Solicitud:edit", {'id': solicitud.id}) %}#}
    {#</div>#}

    {#</div>#}
    {#</div>#}
    {#</div>#}

    <!-- Modal -->
    <div class="modal fade" id="modalsolicitud" tabindex="-1" role="dialog" aria-labelledby="modalsolicitudLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalsolcitudLabel">{{ solicitud.tipo }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% render controller("SiaBundle:Solicitud:edit", {'id': solicitud.id}) %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <h3 class="text-secondary">Actividades</h3>

    {% if solicitud.actividades|length == 0 %}
        <div class="alert alert-info"><i class="fa fa-bullhorn"></i> Puede agregar una o más actividades académica en una Solicitud de {{ solicitud.tipo }}.</div>
        <p class="lead text-secondary"><i class="fa fa-exclamation"></i> La solicitud no tienen actividades académicas.</p>
    {% endif %}


    <div class="card">
        <ul class="list-group list-group-flush">

            {% for actividad in actividades %}
                {% set actividadmodalshow = 'actividadshowModal'~ actividad.id  %}
                <li class="list-group-item">
                    <div>
                        <i class="fa fa-list-alt fa-x" aria-hidden="true"></i> {{ actividad.tipo }}
                    </div>
                    <span class="label label-default">{{ actividad.institucion }}</span>
                    <span class="label label-default">{{ actividad.departamento }}</span>
                    <span class="label label-default">{{ actividad.lugar }}</span>
                    <span class="label label-default">{{ actividad.fechaActividad|localizeddate('long', 'none') }}</span>
                    <p class="pull-right">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#{{ actividadmodalshow }}">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </p>
                </li>
                <!-- Modal -->
                <div class="modal fade" id="{{ actividadmodalshow }}" tabindex="-1" role="dialog" aria-labelledby="{{ actividadmodalshow }}Label">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="{{ actividadmodalshow }}Label">{{ actividad.tipo}}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aia-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                {% render controller("SiaBundle:Actividad:show", {'id': actividad.id}) %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>

    <br>

    {% if solicitud.enviado == false %}
        <a href="{{ path('actividad_step',{'id': solicitud.id}) }}" class="btn btn-outline-primary btn-sm" role="button"><i class="fa fa-plus"></i> Agregar actividad</a>
    {% endif %}

    <hr>
    <h3 class="text-secondary">Financiamiento</h3>

    <!-- Modal -->
    <div class="modal fade" id="modalfinanciamiento" tabindex="-1" role="dialog" aria-labelledby="modalfinanciamientoLabel">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalfinanciamientoLabel">Financiamiento</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    {% render controller("SiaBundle:Solicitud:financiamiento", {'id': solicitud.id}) %}
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Fuente</th>
                        <th class="text-center">CCM</th>
                        <th class="text-center">PAPIIT</th>
                        <th class="text-center">Conacyt</th>
                        <th class="text-center">Otro</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set ccm = 0 %}
                    {% set papiit = 0 %}
                    {% set conacyt = 0 %}
                    {% set otro = 0 %}

                    {% for fin in solicitud.financiamiento %}
                        <tr>
                            <td>{{ fin.nombre }}</td>
                            <td class="text-right">${{ fin.ccm|number_format(2)  }}</td>
                            <td class="text-right">${{ fin.papiit|number_format(2)  }}</td>
                            <td class="text-right">${{ fin.conacyt|number_format(2)  }}</td>
                            <td class="text-right">{{ fin.otro  }}</td>
                        </tr>
                        {% set ccm = fin.ccm + ccm %}
                        {% set papiit = fin.papiit + papiit %}
                        {% set conacyt = fin.conacyt + conacyt %}
                        {% set otro = fin.otro + otro %}

                    {% endfor %}
                    <tr>
                        <td><h4><i class="fa fa-usd"></i> Total</td>
                        <td class="text-right"><h4><strong>${{ ccm|number_format(2) }}</strong></h4></td>
                        <td class="text-right"><h4><strong>${{ papiit|number_format(2)  }}</strong></h4></td>
                        <td class="text-right"><h4><strong>${{ conacyt|number_format(2)  }}</strong></h4></td>
                        <td class="text-right"><h4><strong></strong></h4></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    {% if solicitud.enviado == false %}
        <button type="button" class="btn btn-outline-primary btn-sm mb-5" data-toggle="modal" data-target="#modalfinanciamiento">
            <i class="fa fa-edit"></i> Modificar financiamineto
        </button>
    {% endif %}

    <div class="row" >
        <div class="col-md-7 offset-md-5">
            {{ form_start(delete_form) }}
            {% if solicitud.enviado == true %}
                <button disabled class="btn btn-success">Solicitud enviada</button>
            {% else %}
                <a class="btn btn-success" href="{{ path('solicitud_envio',{ 'id': solicitud.id}) }}" role="button"><i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar solicitud</a>
                <input class="btn btn-danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro de eliminar esta solicitud?')" >
            {% endif %}
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}

