{% extends 'base.html.twig' %}

{% block title %}SIA - Dashboard{% endblock %}

{% block css %}
    {{ parent() }}
    <!-- Bootstrap Core CSS -->
{% endblock %}

{% block sidebar %}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('dashboard') }}">

            Dashboard <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('solicitud_index') }}">
            <span data-feather="file"></span>
            Solicitudes
        </a>
    </li>

{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Licencia y comisión
                </div>
                <div class="card-body">
                    <div class="col-lg-4 col-md-4 text-center">
                        <dl>
                            <dt><i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i></dt>
                            <dd><a href="{{ path('solicitud_index' ) }}">Solicitudes <span class="counter">{{ solicitudes|length }}</span></a></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> Mensajes
                </div>

                <div class="card-body">
                   Próxima sesión de CI

                </div>
            </div>

        </div>
    </div>



{% endblock %}